name: Release-QA Workflow

on: workflow_dispatch

jobs:
  remove-snapshot:
    runs-on: [ self-hosted, linux ]
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/remove-snapshot

  #  gradle-qa-build:
  #    needs: remove-snapshot
  #    runs-on: self-hosted
  #    steps:
  #      - uses: actions/checkout@v3
  #      - uses: ./.github/actions/setup
  #
  #      - run: |
  #          ./gradlew clean build createAirGapZip createAirGapZipWithoutDocker artifactoryPublish publishAirGapZip publishAirGapZipWithoutDocker -Pqabuild=true -PartifactoryRepo=bds-integrations-test --refresh-dependencies --stacktrace --info
  next-snapshot:
    runs-on: [ self-hosted, linux ]
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      - uses: ./.github/actions/next-snapshot
