name: Release-QA Workflow

on: workflow_dispatch
permissions: write-all
jobs:
  remove-snapshot:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup

      - name: Checking snapshot dependencies
        run: |
          ./gradlew dependencies -q --configuration implementation

      - name: Current Version
        run: |
          ./gradlew properties -q | findstr '^version: '

      - name: Updating Version
        run: |
          ./gradlew qaJaloja

      - name: New Version
        id: new_version
        shell: powershell
        run: |
          wsl | echo "PROJ_VER=$(./gradlew properties -q | grep -oP '^version: \K.*')" >> $GITHUB_OUTPUT

      - uses: EndBug/add-and-commit@v9
        with:
          add: '.'
          #author_name: Basim
          #author_email: basimuddintuhin@gmail.com

          # Determines the way the action fills missing author name and email. Three options are available:
          # - github_actor -> UserName <UserName@users.noreply.github.com>
          # - user_info -> Your Display Name <your-actual@email.com>
          # - github_actions -> github-actions <email associated with the github logo>
          # Default: github_actor
          default_author: github_actions
          message: Release ${{ steps.new_version.outputs.PROJ_VER }}

          # The way the action should handle pathspec errors from the add and remove commands. Three options are available:
          # - ignore -> errors will be logged but the step won't fail
          # - exitImmediately -> the action will stop right away, and the step will fail
          # - exitAtEnd -> the action will go on, every pathspec error will be logged at the end, the step will fail.
          # Default: ignore
          pathspec_error_handling: ignore
          push: true
