name: Test Workflow

on:
  push:
    branches: [ "master" ]

jobs:
  archive:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/upload-artifact@v3
        with:
          path: |
            ${{ github.workspace }}/build/libs/*.jar
          retention-days: 1
