name: Test Workflow

on: workflow_dispatch

jobs:
  #  archive:
  #    runs-on: ubuntu-latest
  #    permissions: write-all
  #    steps:
  #      - uses: actions/checkout@v3
  #      - uses: ./.github/actions/jacoco
  #        with:
  #          secret_token: ${{ secrets.GITHUB_TOKEN }}
  test:
    runs-on: self-hosted
    steps:
      # generates coverage-report.md and publishes as checkrun
      - uses: actions/checkout@v3
      - name: Build Project
        run: |
          ./gradlew clean build jacocoTestReport
      - name: JaCoCo Code Coverage Report
        id: jacoco_reporter
        uses: PavanMudigonda/jacoco-reporter@v4.8
        with:
          coverage_results_path: ${{ github.workspace }}/build/reports/jacoco/test/jacocoTestReport.xml
          coverage_report_name: Coverage
          coverage_report_title: JaCoCo
          github_token: ${{ secrets.GITHUB_TOKEN }}
          skip_check_run: false
          minimum_coverage: 80
          fail_below_threshold: false
          publish_only_summary: false

      # Publish Coverage Job Summary  # Optional
      - name: Add Coverage Job Summary
        run: echo "${{ steps.jacoco_reporter.outputs.coverageSummary }}" >> $GITHUB_STEP_SUMMARY

      # uploads the coverage-report.md artifact  # Optional

      - name: Upload Code Coverage Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage-report-markdown
          path: '*/coverage-results.md'
          retention-days: 1
